/*-------------
     RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
     COMMON
---------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*-------------
   TYPOGRAPHY
---------------*/
body {
    font-family: 'Fredoka', sans-serif;
}

main section.container h1{
    text-align: center;
    padding: 20px 20px 40px 20px;
    font-size: 35px;
    color: #E53170;
}

/*-------------
      MAIN
---------------*/
main section.container{
    max-width: 1150px;
    margin: auto;
    min-height: 500px;
    padding: 10px;
}