/*-------------
     RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
     COMMON
---------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*-------------
   TYPOGRAPHY
---------------*/
body {
    font-family: 'Fredoka', sans-serif;
    background-color: lightgray;
}

main section.container h1{
    text-align: center;
    padding: 20px 20px 40px 20px;
    font-size: 35px;
    color: #E53170;
}

Main div.team-card h3, Main div.team-card span{
    color: white;
}

/*-------------
      MAIN
---------------*/
main section.container{
    max-width: 1150px;
    margin: auto;
    min-height: 500px;
    background-color: white;
    margin: 20px auto;
}

main p.description{
    padding: 0px 5px 50px 5px;
    text-align: center;
}

main div.team-card{
    width: calc(100%/3 - 40px);
    height: 100px;
    background-color: black;
    float: left;
    margin: 0px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px #888888;
}

main div.team-card:hover{
    box-shadow: 3px 3px 10px 5px #E53170;
}

main div img.img-cards{
    width: 100px;
    height: 100px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main div.info-team-card{
    position: relative;
    left: 15px;
    top: 15px;
}

Main div.team-card span{
    display: block;
}

main div.info-team-card a{
    color: #4dccf2;
    text-decoration: none;
    display:inline-block;
}
